.formulario{
    box-shadow: 0px 0px 5px gray;
    padding: 20px;
    
}

.detalhes{
    box-shadow: 0px 0px 5px gray;
    padding-left: 20px;
}

.detalhes h5{
    padding-left: 20px;
}

.salvar{
    display: flex;
}

.salvar span{
    color: red;
    margin: 10px;
    align-items: center;
}