<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>EventosApp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="shortcut icon" href="#" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">&nbsp&nbspCadastrar Evento: </a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/eventos" class="waves-effect waves-light btn">Lista de Eventos</a></li>
              </ul>
            </div>
          </nav>
    </header>


    <div class="container formulario">
        <form class="container form" method="POST" id="form">
            Nome: <input type="text" value="" name="nome">
            <div class="row">
                <div class="input-field col s6">
                    Local: <input type="text" value="" name="local">
                </div>
                <div class="input-field col s3">
                    Data: <input type="date" value="" name="data">
                </div>
                <div class="input-field col s3">
                    Horário: <input type="time" value="" name="horario">
                </div>
            </div>
            <div class="salvar">
                <button class="waves-effect waves-light btn" type="submit">Salvar</button>
                <th:block th:include="mensagemValidacao"></th:block>
            </div>
        </form>
    </div>


    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>