<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>EventosApp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <h2>Cadastro de Eventos</h2>
    <a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">dehaze</i>Lista Evento</a>

    <form class="container" method="POST">
        Nome: <input type="text" value="" name="nome">
        <div class="row">
            <div class="input-field col s6">
                Local: <input type="text" value="" name="local">
            </div>
            <div class="input-field col s3">
                Data: <input type="date" value="" name="data">
            </div>
            <div class="input-field col s3">
                Horário: <input type="time" value="" name="horario">
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Salvar</button>
    </form>


    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>